<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Kitap sil</h5></div>
            <div class="card-body">
                <form [formGroup]="bookDeleteForm">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="id">Kitap</label>
                            <select class="form-control" id="id" formControlName="id" aria-label="Default select example">
                                <option selected disabled>Kitap seçiniz</option>
                                <option *ngFor="let book of books" value={{book.id}}>{{book.bookName}}</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="delete()">Sil</button>
            </div>
        </div>
    </div>
</div>