<p-panel header="{{book.bookName}} Rezervasyon Yap" [style]="{'border-radius': '10px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)'}">
    <div *ngIf="userLoaded">
        <form [formGroup]="reservationForm" class="custom-form">
            <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-6">
                    <label for="reserveDate">Alış Tarihi</label>
                    <p-calendar id="reserveDate" formControlName="reserveDate" [showIcon]="true" placeholder="Alış Tarihi" dateFormat="yy-mm-dd" [showTransitionOptions]="'0ms'"></p-calendar>
                </div>
                <div class="p-col-12 p-md-6">
                    <label for="returnDate">İade Tarihi</label>
                    <p-calendar id="returnDate" formControlName="returnDate" [showIcon]="true" placeholder="İade Tarihi" dateFormat="yy-mm-dd" [showTransitionOptions]="'0ms'"></p-calendar>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer p-text-end">
        <button pButton type="button" label="Rezervasyon Oluştur" class="p-button p-button-rounded p-button-raised p-button-success" (click)="reserve()"></button>
    </div>
</p-panel>