<p-progressSpinner *ngIf="!dataLoaded" class="p-spinner" strokeWidth="8" styleClass="custom-spinner"></p-progressSpinner>

<div class="p-field">
    <input type="text" pInputText [(ngModel)]="filterText" id="filterTextAuthor" placeholder="Yazar ara">
</div>

<ul class="p-list-group">
    <li (click)="setAllAuthor()" [ngClass]="{'p-list-group-item': true, 'active': !currentAuthor}" routerLink="/books">Tüm Yazarlar</li>
    <li *ngFor="let author of authors | filterPipeAuthor: filterText" (click)="setCurrentAuthor(author)"
        [ngClass]="{'p-list-group-item': true, 'active': author === currentAuthor}" routerLink="/books/author/{{author.authorId}}">
        {{author.authorFirstName}} {{author.authorLastName}}
    </li>
</ul>