<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white"><h5 class="title">Kategori sil</h5></div>
            <div class="card-body">
                <form [formGroup]="categoryDeleteForm">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="categoryId">Kategori</label>
                            <select class="form-control" id="categoryId" formControlName="categoryId" aria-label="Default select example">
                                <option selected disabled>Kategori ismi seçiniz</option>
                                <option *ngFor="let category of categories" value={{category.categoryId}}>{{category.categoryName}}</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="delete()">Sil</button>
            </div>
        </div>
    </div>
</div>