<div class="content">
    <div class="col-md-12">
        <p-card>
            <ng-template pTemplate="header">
                <h2 style="text-align: center;">Yazar Ekle</h2>
            </ng-template>
            <div class="card-body">
                <form [formGroup]="authorAddForm" class="p-fluid">
                    <div class="p-field">
                        <label for="authorFirstName">Yazar Adı</label>
                        <input type="text" id="authorFirstName" formControlName="authorFirstName" class="p-inputtext p-component" style="width: 100%;">
                    </div>
                    <div class="p-field" style="margin-top: 15px;">
                        <label for="authorLastName">Yazar Soyadı</label>
                        <input type="text" id="authorLastName" formControlName="authorLastName" class="p-inputtext p-component" style="width: 100%;">
                    </div>
                </form>
            </div>
            <div class="card-footer" style="display: flex; justify-content: center; margin-top: 15px;">
                <button class="p-button p-button-raised p-button-primary" (click)="add()">Ekle</button>
            </div>
        </p-card>
    </div>
</div>