<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="title">Yazar Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="authorAddForm">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="authorFirstName">Yazar Adı</label>
                            <input id="authorFirstName" formControlName="authorFirstName" class="form-control" list="authors" placeholder="Yazar adı">
                            <datalist id="authors">
                                <option *ngFor="let author of authors" [value]="author.authorFirstName"></option>
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="authorLastName">Yazar Soyadı</label>
                            <input id="authorLastName" formControlName="authorLastName" class="form-control" list="lastNames" placeholder="Yazar soyadı">
                            <datalist id="lastNames">
                                <option *ngFor="let author of authors" [value]="author.authorLastName"></option>
                            </datalist>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>
