<!-- change-password.component.html -->

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white bg-primary">
            <h4 class="mb-0">Şifreyi Değiştir</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="changePasswordForm">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Eski Şifre</label>
                    <input type="password" class="form-control" formControlName="oldPassword" id="oldPassword" placeholder="Eski şifrenizi giriniz">
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Yeni Şifre</label>
                    <input type="password" class="form-control" formControlName="newPassword" id="newPassword" placeholder="Yeni şifrenizi giriniz">
                </div>
                <!-- Diğer şifre değiştirme form alanlarını ekleyebilirsiniz -->
                <div class="mb-3">
                    <button type="button" class="btn btn-primary" (click)="changePassword()">Şifreyi Değiştir</button>
                </div>
            </form>
        </div>
    </div>
</div>

