<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="title">Yazarı Sil</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="authorDeleteForm"  class="p-fluid">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="authorId">Yazar</label>
                            <select class="form-select" id="authorId" formControlName="authorId">
                                <option selected disabled>Yazar seçiniz</option>
                                <option *ngFor="let author of authors" [ngValue]="author.authorId">
                                    {{ author.authorFirstName }} {{ author.authorLastName }}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="delete()">Sil</button>
            </div>
        </div>
    </div>
</div>
