<p-progressSpinner *ngIf="!dataLoaded" class="p-spinner" strokeWidth="8" styleClass="custom-spinner"></p-progressSpinner>

<div class="p-field">
    <input type="text" pInputText [(ngModel)]="filterText" id="filterTextCategory" placeholder="Kategori ara">
</div>

<ul class="p-list-group">
    <li (click)="setAllCategory()" [ngClass]="{'p-list-group-item': true, 'active': !currentCategory}" routerLink="/books">Tüm Yazarlar</li>
    <li *ngFor="let category of categories | filterPipeCategory: filterText" (click)="setCurrentCategory(category)"
        [ngClass]="{'p-list-group-item': true, 'active': category === currentCategory}" routerLink="/books/category/{{category.categoryId}}">
        {{category.categoryName}}
    </li>
</ul>