<div class="content">
    <div class="col-md-12">
        <!-- Kitap Ekle Formu -->
        <div class="card">
            <div class="card-header">
                <h5 class="title" style="font-size: 28px;">Kitap Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="bookAddForm">
                    <div class="form-group">
                        <!-- Kitap Adı -->
                        <div class="mb-3">
                            <label for="bookName">Kitap Adı</label>
                            <input type="text" id="bookName" formControlName="bookName" class="form-control" placeholder="Kitap Adı">
                        </div>
                        
                        <!-- Kategori Seçimi -->
                        <div class="mb-3">
                            <label for="categoryId">Kategori</label>
                            <select class="form-control" id="categoryId" formControlName="categoryId" aria-label="Default select example">
                                <option selected disabled>Kategori İsmi Seçiniz</option>
                                <option *ngFor="let category of categories" value={{category.categoryId}}>{{category.categoryName}}</option>
                            </select>
                        </div>
                        
                        <!-- Yazar Seçimi -->
                        <div class="mb-3">
                            <label for="authorId">Yazar</label>
                            <select class="form-control" id="authorId" formControlName="authorId" aria-label="Default select example">
                                <option selected disabled>Yazar Seçiniz</option>
                                <option *ngFor="let author of authors" value={{author.authorId}}>{{author.authorFirstName}} {{author.authorLastName}}</option>
                            </select>
                        </div>
                        
                        <!-- Yayınlanma Tarihi -->
                        <div class="mb-3">
                            <label for="publishedYear">Yayınlanma Tarihi</label>
                            <input type="text" id="publishedYear" formControlName="publishedYear" class="form-control" placeholder="Yayınlanma Tarihi">
                        </div>   
                        
                        <!-- Özet -->
                        <div class="mb-3">
                            <label for="summary">Özet</label>
                            <input type="text" id="summary" formControlName="summary" class="form-control" placeholder="Özet">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>

        <!-- Resim Ekle Formu -->
        <div class="card">
            <div class="card-header">
                <h5 class="title" style="font-size: 28px;">Resim Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="bookImageAddForm">
                    <div class="form-group">
                        <!-- Kitap ID -->
                        <div class="mb-3">
                            <label for="bookId">Kitap ID</label>
                            <input type="text" id="bookId" formControlName="bookId" class="form-control" placeholder="Kitap ID">
                        </div>
                        
                        <!-- Dosya Türü -->
                        <div class="mb-3">
                            <label for="imagePath">Dosya Türü</label>
                            <input type="text" id="imagePath" formControlName="imagePath" class="form-control" placeholder="jpg">
                        </div>
                        
                        <!-- Dosya Seçimi -->
                        <div class="mb-3">
                            <label for="file">Dosya</label>
                            <input type="file" id="file" formControlName="file" class="form-control" placeholder="Dosya">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="addImage()">Ekle</button>
            </div>
        </div>
    </div>
</div>
