<div class="table-container">
    <table class="p-table">
      <thead>
        <tr class="custom-table-header">
          <th>Id</th>
          <th>Kullanıcı Mail</th>
          <th>Kitap İsmi</th>
          <th>Rezervasyon Tarihi</th>
          <th>İade Tarihi</th>
          <th>İşlemler</th> <!-- Yeni sütun eklendi -->
        </tr>
      </thead>
      <tbody>
        <tr class="book-row" *ngFor="let reservation of reservations | filterPipeReservation: filterText; let even = even; let odd = odd"
          [class.even-row]="even" [class.odd-row]="odd">
          <td>{{reservation.id}}</td>
          <td>{{users[reservation.userId]}}</td>
          <td>{{books[reservation.bookId]}}</td>
          <td>{{reservation.reserveDate | date: 'yyyy-MM-dd'}}</td>
          <td>{{reservation.returnDate | date: 'yyyy-MM-dd'}}</td>
          <td>
            <button pButton type="button" label="Sil" icon="pi pi-trash" class="p-button p-button-danger" (click)="deleteReservation(reservation)"></button>
            <button pButton type="button" label="Güncelle" icon="pi pi-pencil" class="p-button p-button-info" (click)="openUpdateDialog(reservation)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  



