<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kitap Sil</title>
  <!-- Bootstrap CSS dosyası -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-primary text-white"><h5 class="title">Kitap Sil</h5></div>
          <div class="card-body">
            <form [formGroup]="bookDeleteForm">
              <div class="form-group">
                <div class="mb-3">
                  <label for="id">Kitap</label>
                  <select class="form-control" id="id" formControlName="id" aria-label="Default select example">
                    <option selected disabled>Kitap seçiniz</option>
                    <option *ngFor="let book of books" [value]="book.id">{{book.bookName}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="delete()">Sil</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
